{% include 'header.html' %}

    <h1> Projektarbeit ARIS </h1>

	<!-- search / filter container -->
    <div class="container">
        <div class="row">

            <!-- search -->
            <div class="col">
                <h3 class="mt-5 mb-3"> Suche </h3>
                <form action="" class="d-flex">
                        <!-- jinja statement references previously entered searchtext -->
                        <input class="form-control me-2" type="text" name="searchtext" placeholder="Haltestellen-Name" value="{{searchtext}}" aria-label="Search">
                        <input class="btn btn-outline-success" type="submit" value="Suchen">
            </div>
            

            <!-- spacing -->
            <div class="col-1"></div>

            <!-- filter -->
            <div class="col">
                <h3 class="mt-5 mb-3"> Filtern nach Perrontyp</h3>
                <div class="row">
                    <div class="col">
                        <div class="form-check form-check-inline">
                            <!-- jinja statement references chosen filters -->
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="filter" value="Aussenperron" {% if 'Aussenperron' is in filter %} checked {% endif %}>
                            <label class="form-check-label" for="inlineCheckbox1">Aussenperron</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="filter" value="Hausperron" {% if 'Hausperron' is in filter %} checked {% endif %}>
                            <label class="form-check-label" for="inlineCheckbox2">Hausperron</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="filter" value="Zwischenperron" {% if 'Zwischenperron' is in filter %} checked {% endif %}>
                            <label class="form-check-label" for="inlineCheckbox2">Zwischenperron</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="filter" value="Dienstperron" {% if 'Dienstperron' is in filter %} checked {% endif %}>
                            <label class="form-check-label" for="inlineCheckbox2">Dienstperron</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="filter" type="checkbox" id="inlineCheckbox2" value="Mittelperron" {% if 'Mittelperron' is in filter %} checked {% endif %}>
                            <label class="form-check-label" for="inlineCheckbox2">Mittelperron</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="filter" type="checkbox" id="inlineCheckbox2" value="Hilfskante" {% if 'Hilfskante' is in filter %} checked {% endif %}>
                            <label class="form-check-label" for="inlineCheckbox2">Hilfskante</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                    <button class="btn btn-outline-success" type="submit">Anwenden</button>
                    </div>
                    <div class="row"></div>
                </div>
            </form>
            </div>

            <!-- spacing -->
            <div class="col-1"></div>

      </div>
    </div>

    <!--sorter-->
    <div class="container">
        <div class="row">
            <h2>Ordnen nach</h2>
        </div>

        <div class="row">
            <div class="col">
                <!-- every button leads to different route and the chosen button gets highlighted -->
                <a class="nav-link active" href="{{ url_for('index') }}">
                    <button class="btn btn-outline-success {% if sort_option == 'index' %} button-highlight {% endif %}">
                        Haltestellen A-Z
                    </button>
                </a>
            </div>
            <div class="col">
                <a class="nav-link active" href="{{ url_for('za') }}">
                    <button class="btn btn-outline-success {% if sort_option == 'za' %} button-highlight {% endif %}">
                        Haltestellen Z-A 
                    </button>
                </a>
            </div>
            <div class="col">
                <a class="nav-link active" href="{{ url_for('zahlgk') }}">
                    <button class="btn btn-outline-success {% if sort_option == 'zahlgk' %} button-highlight {% endif %}">
                            Perronkantenlänge gr - kl
                    </button>
                </a>
            </div>
            <div class="col">
                <a class="nav-link active" href="{{ url_for('zahlkg') }}">
                    <button class="btn btn-outline-success {% if sort_option == 'zahlkg' %} button-highlight {% endif %}">
                        Perronkantenlänge kl - gr
                    </button>
                </a>
            </div>
        </div>
    </div>


    
		<!-- table -->
    <div class="row mt-5 mb-5" >
			<div class="column">
				<table class="table">
					<thead>
						<tr>
							<th scope="col"> Haltestellen Name </th>
							<th scope="col"> Perron Nr. </th>
							<th scope="col"> Perrontyp </th>
							<th scope="col"> Perronkantenlänge</th>
							<th scope="col"> Perronkantenhöhe </th>
							<th scope="col"> Höhenverlauf </th>
						</tr>
					</thead>
					<tbody id="table">

                        {% for perron in perrons %}

                        <tr>
                            <td scope="col">{{ perron.haltestelle }}</td>
                            <td scope="col">{{ perron.perron_nr }}</td>
                            <td scope="col">{{ perron.perron_typ }}</td>
                            <td scope="col">{{ perron.perron_kantenlaenge }}</td>
                            <td scope="col">{{ perron.perron_kantenhoehe }}</td>
                            <td scope="col">{{ perron.perron_hoehenverlauf }}</td>
                        </tr>

                        {% endfor %}

                    </tbody>
				</table>
			</div>
    </div>

		{% include 'footer.html' %}


</body>
</html>