{% include 'header.html' %}

    <h1> Projektarbeit ARIS </h1>

	<!-- search / filter container -->
    <div class="container">
        <div class="row">

            <!-- search -->
            <div class="col">
                <h3 class="mt-5 mb-3"> Suche </h3>
                <form action="/" class="d-flex">
                        <input class="form-control me-2" type="text" name="searchtext" placeholder="Haltestellen-Name" aria-label="Search">
                        <input class="btn btn-outline-success" type="submit" value="Suchen">
                </form>
            </div>
            

            <!-- spacing -->
            <div class="col-1"></div>

            <!-- filter -->
            <div class="col">
                <h3 class="mt-5 mb-3"> Filtern nach Perrontyp</h3>
                <div class="row">
                    <div class="col">
                        <form>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="filter" value="Aussenperron">
                            <label class="form-check-label" for="inlineCheckbox1">Aussenperron</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="filter" value="Hausperron">
                            <label class="form-check-label" for="inlineCheckbox2">Hausperron</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="filter" value="Zwischenperron">
                            <label class="form-check-label" for="inlineCheckbox2">Zwischenperron</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="filter" value="Dienstperron">
                            <label class="form-check-label" for="inlineCheckbox2">Dienstperron</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="filter" type="checkbox" id="inlineCheckbox2" value="Mittelperron">
                            <label class="form-check-label" for="inlineCheckbox2">Mittelperron</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="filter" type="checkbox" id="inlineCheckbox2" value="Hilfskante">
                            <label class="form-check-label" for="inlineCheckbox2">Hilfskante</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                    <button class="btn btn-outline-success" type="submit">Anwenden</button>
                    </div>
                    <div class="row"></div>
                </div>
            </form>
            </div>

            <!-- spacing -->
            <div class="col-1"></div>

      </div>
    </div>

    <div class="container">
        <div class="row">
            <h2>Ordnen nach</h2>
        </div>

        <div class="row">
                    <div class="col">
                    <button class="btn btn-outline-success" name="sorter" value="Haltestellen" type="submit">Haltestellen A-Z</button>
                    </div>
                    <div class="col">
                    <button class="btn btn-outline-success" name="sorter" value="Perronkantenlänge" type="submit">Perronkantenlänge</button>
                    </div>

        </div>
    </div>
    
		<!-- table -->
    <div class="row mt-5 mb-5" >
			<div class="column">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">
								<i class="bi bi-arrow-up" name="auflist" value="halt" style="color: grey;"></i>
								Haltestellen Name
							</th>
							<th scope="col"> Perron Nr. </th>
							<th scope="col"> Perrontyp </th>
							<th scope="col">
								<i class="bi bi-arrow-down" name="auflist" value="lang" style="color: red;"></i>
								Perronkantenlänge
							</th>
							<th scope="col"> Perronkantenhöhe </th>
							<th scope="col"> Höhenverlauf </th>
						</tr>
					</thead>
					<!-- see js below -->
					<tbody id="table">

                        {% for perron in perrons %}

                        <tr>
                            <td scope="col">{{ perron.haltestelle }}</td>
                            <td scope="col">{{ perron.perron_nr }}</td>
                            <td scope="col">{{ perron.perron_typ }}</td>
                            <td scope="col">{{ perron.perron_kantenlaenge }}</td>
                            <td scope="col">{{ perron.perron_kantenhoehe }}</td>
                            <td scope="col">{{ perron.perron_hoehenverlauf }}</td>
                        </tr>

                        {% endfor %}

                    </tbody>
				</table>
			</div>
    </div>

		<!-- pagination-->
		<nav class="mx-auto mb-5" style="width: 200px;" aria-label="...">
			<ul class="pagination">
				<li class="page-item disabled">
					<a class="page-link">Zurück</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item active" aria-current="page">
					<a class="page-link" href="#">2</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#">Vorwärts</a>
				</li>
			</ul>
		</nav>

		{% include 'footer.html' %}


</body>
</html>