{% include 'header.html' %}

    <h1> Kartenansicht </h1>

    <!-- Karte -->
    <div id="map"></div>
    
    {% include 'footer.html' %}


    <!--leaflet-->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""> </script>

    <script>
        // sets view to Switzerland
        var map = L.map('map').setView([46.8, 8.3], 8);
        
        // defines map
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/outdoors-v11',
            tileSize: 512,
            zoomOffset: -1,
        }).addTo(map);
        
        // adds circles for every "perronkante"
        {% for perron in perrons %}

        L.circle([ {{perron.koord}} ], {
            color: 'red',
            fillColor: '#f03',
            fillOpacity: 0.5,
            radius: 50
        }).addTo(map);

       {% endfor %}
       
    
    </script>

    


</body>
</html>