{% include 'header.html' %}

        <h1> Kuchenansicht </h1>

        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <h3> Höhenverlauf der Perrons </h3>
                </div>
                <div class="col">
                    <h3>Kantenhöhe der Perrons</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <div id="chart_hv"></div>
                </div>
                <div class="col">
                    <div id="chart_kh"></div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="row">
                    <h3> Perronlängen </h3>
                </div>
                <div class="row mt-5">
                    <div id="chart_pl"></div>
                </div>
            </div>
        </div>

        {% include 'footer.html' %}

	

	<script>
			
        var options_pie = {
            series: [],
            chart: {
                width: '70%',
                type: 'pie',
                fontFamily: 'Helvetica, Arial, sans-serif'
            },
            labels: [],
            theme: {
                monochrome: {
                    enabled: true,
                    color: '#eb0000'
                }
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        offset: -5
                    }
                }
            },
            legend: {
                show: true
            }
        };
        
        
        var options_col = {
          series: [{
          data: [634, 582, 594, 561, 465, 136, 291, 92, 121, 25, 9,].reverse()
        }],
          chart: {
          height: 350,
          type: 'bar',
          events: {
            click: function(chart, w, e) {
              // console.log(chart, w, e)
            }
          }
        },
        theme: {
                monochrome: {
                    enabled: true,
                    color: '#eb0000'
                }
        },
        
        plotOptions: {
          bar: {
            columnWidth: '45%',
            distributed: true,
            horizontal: true
          }
        },
        dataLabels: {
          enabled: false
        },
        legend: {
          show: false
        },
        xaxis: {
          categories: [
            '< 50 m',
            '50 - 100 m',
            '100 - 150 m',
            '150 - 200 m',
            '200 - 250 m',
            '250 - 300 m',
            '300 - 350 m',
            '350 - 400 m',
            '400 - 450 m',
            '450 - 500 m',
            '> 500 m'
          ].reverse(),
          labels: {
            style: {
              
              fontSize: '12px'
            }
          }
        }
        };


        var options_hv = {...options_pie};
        options_hv.series = [2864, 186, 103, 292, 68];
        options_hv.labels = ["konstant", "nicht konstant", "auslaufend", "Karrenüberfahrten", "unbekannt"];

        var options_kh = {...options_pie};
        options_kh.series = [1666, 114, 491, 268, 306, 343, 325];
        options_kh.labels = ["0.55 m", "0.42 m", "0.35 m", "0.3 m", "0.25 m", "0.2 m", "unbekannt"];

        var options_pl = {...options_col};

        var chart_hv = new ApexCharts(document.querySelector("#chart_hv"), options_hv);
        var chart_kh = new ApexCharts(document.querySelector("#chart_kh"), options_kh);
        var chart_pl = new ApexCharts(document.querySelector("#chart_pl"), options_pl);
    
        chart_hv.render();
        chart_kh.render();
        chart_pl.render();
        

	</script>

</body>
</html>