{% include 'header.html' %}

        <h1> Kuchenansicht </h1>

        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <h3> Höhenverlauf der Perrons </h3>
                </div>
                <div class="col">
                    <h3>Kantenhöhe der Perrons</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <div id="chart_hv"></div>
                </div>
                <div class="col">
                    <div id="chart_kh"></div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="row">
                    <h3> Perronlängen </h3>
                </div>
                <div class="row mt-5">
                    <div id="chart_pl"></div>
                </div>
            </div>
        </div>

        {% include 'footer.html' %}

	

	<script>
			
        var options_pie = {
            series: [],
            chart: {
                width: '70%',
                type: 'pie',
                fontFamily: 'Helvetica, Arial, sans-serif'
            },
            labels: [],
            theme: {
                monochrome: {
                    enabled: true,
                    color: '#eb0000'
                }
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        offset: -5
                    }
                }
            },
            legend: {
                show: true
            }
        };
        

        var options_col = {
          series: [{
          data: [ {% for kategorie in laengen %} '{{kategorie}}', {% endfor %} ]
        }],
          chart: {
          height: 350,
          type: 'bar',
          events: {
            click: function(chart, w, e) {
              // console.log(chart, w, e)
            }
          }
        },
        theme: {
                monochrome: {
                    enabled: true,
                    color: '#eb0000'
                }
        },
        
        plotOptions: {
          bar: {
            columnWidth: '45%',
            distributed: true,
            horizontal: false
          }
        },
        dataLabels: {
          enabled: false
        },
        legend: {
          show: false
        },
        xaxis: {
          categories: [ {% for kategorie in kategorien %} '{{kategorie}}', {% endfor %} ],
          labels: {
            style: {
              
              fontSize: '12px'
            }
          }
        }
        };


        var options_hv = {...options_pie};
        options_hv.series = [ {% for kategorie in hoehenverlauf %} {{kategorie.count}}, {% endfor %} ];
        options_hv.labels = [ {% for kategorie in hoehenverlauf %} '{{kategorie.perron_hoehenverlauf}}', {% endfor %} ];

        var options_kh = {...options_pie};
        options_kh.series = [ {% for kategorie in kantenhoehe %} {{kategorie.count}}, {% endfor %} ];
        options_kh.labels = [ {% for kategorie in kantenhoehe %} '{{kategorie.perron_kantenhoehe}}', {% endfor %} ];

        var options_pl = {...options_col};

        var chart_hv = new ApexCharts(document.querySelector("#chart_hv"), options_hv);
        var chart_kh = new ApexCharts(document.querySelector("#chart_kh"), options_kh);
        var chart_pl = new ApexCharts(document.querySelector("#chart_pl"), options_pl);
    
        chart_hv.render();
        chart_kh.render();
        chart_pl.render();
        

	</script>

</body>
</html>